<%- include('./layout/header.ejs') %>
<html>
  <body>
    <div class="table-area">
      <h1 class="gallery-title mb-5" style="color: #0d6efd">All Type</h1>
      <div class="table-responsive type-task-table">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type Name</th>
              <th scope="col">Description</th>
              <th scope="col">Color</th>
              <th scope="col">Create At</th>
              <th scope="col">Task</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">3</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>
                <div class="task-note">
                  <i
                    class="fas fa-pencil-alt fa-fw mr-4"
                    style="margin-right: 15px"
                    title="Edit Type"
                  ></i>
                  <i class="fas fa-trash fa-fw" title="Delete Type"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>
                <div class="task-note">
                  <i
                    class="fas fa-pencil-alt fa-fw mr-4"
                    style="margin-right: 15px"
                    title="Edit Type"
                  ></i>
                  <i class="fas fa-trash fa-fw" title="Delete Type"></i>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Cell</td>
              <td>Cell</td>
              <td>Cell</td>
              <td>
                <div class="task-note">
                  <i
                    class="fas fa-pencil-alt fa-fw mr-4"
                    style="margin-right: 15px"
                    title="Edit Type"
                  ></i>
                  <i class="fas fa-trash fa-fw" title="Delete Type"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <nav aria-label="Page navigation ">
          <ul class="pagination justify-content-end"></ul>
        </nav>
      </div>
    </div>
    <!-- Footer -->
    <footer id="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <h4>
                Join our mailing list to receive the news &amp; latest trends
              </h4>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-3">
            <form id="search" action="#" method="GET">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <input
                      type="address"
                      name="address"
                      class="email"
                      placeholder="Email Address..."
                      autocomplete="on"
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <button type="submit" class="main-button">
                      Subscribe Now <i class="fa fa-angle-right"></i>
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Contact Us</h4>
              <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
              <p><a href="#">010-020-0340</a></p>
              <p><a href="#">info@company.co</a></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Us</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Free Apps</a></li>
                <li><a href="#">App Engine</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">App News</a></li>
              </ul>
              <ul>
                <li><a href="#">App Dev Team</a></li>
                <li><a href="#">Digital Web</a></li>
                <li><a href="#">Normal Apps</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Our Company</h4>
              <div class="logo">
                <img src="assets/images/white-logo.png" alt="" />
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>
                Copyright © 2022 Chain App Dev Company. All Rights Reserved.
                <br />Design:
                <a
                  href="https://templatemo.com/"
                  target="_blank"
                  title="css templates"
                  >TemplateMo</a
                ><br />

                Distributed By:
                <a
                  href="https://themewagon.com/"
                  target="_blank"
                  title="Bootstrap Template World"
                  >ThemeWagon</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Add Type -->
    <!-- <div
      class="modal fade"
      id="editTypeModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editTypeModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Type</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="type" class="col-form-label">Title (*):</label>
                <input
                  type="text"
                  class="form-control"
                  id="typeTitle"
                  name="type"
                />
              </div>
              <div class="form-group">
                <label for="type" class="col-form-label"
                  >Description (*):</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="typeDescription"
                  name="type"
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Pick a Color:</label
                >
                <input
                  type="color"
                  class="form-control p-0"
                  id="typeColor"
                  value="#ffffff"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="createTypeBtn" class="btn btn-primary">
              Update Type
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Delete Confirm -->
    <div class="modal fade delete-confirm" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete this Type?</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <p>
              All Note belong to this type will be deleted? Delete this type?
            </p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              id="deleteType"
              class="btn btn-danger"
              style="background-color: red !important"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script>
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      $("textarea")
        .each(function () {
          this.setAttribute(
            "style",
            "height:" + this.scrollHeight + "px;overflow-y:hidden;"
          );
        })
        .on("input", function () {
          this.style.height = 0;
          this.style.height = this.scrollHeight + "px";
        });
      // Handler Background
      const loadColor = function () {
        document.querySelectorAll(".note-ribbon").forEach((item) => {
          let rgb = item.style.backgroundColor;
          var colors = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
          console.log(colors[1], colors[2], colors[3]);

          let ir = Math.floor((255 - colors[1]) * 1);
          let ig = Math.floor((255 - colors[2]) * 1);
          let ib = Math.floor((255 - colors[3]) * 1);

          item.nextElementSibling.style.color = `rgb(${ir},${ig},${ib})`;
        });
      };
      const loadType = async function (page = 1) {
        $(".button-filter").html("");
        $.ajax({
          url: "/type-pagination/?page=" + page,
          method: "get",
          dataType: "json",
          headers: { Authorization: "Bearer " + getCookie("TOKEN") },
          success: function (response) {
            if (!response.error) {
              console.log(response.data);
              let data = response.data;
              $(".type-task-table tbody").html("");
              if (data.data.length == 0) {
                $(".type-task-table tbody").append(
                  `<tr><td class="text-center" colspan="6">You have no Type! Let's create new Type</td></tr>`
                );
              }
              data.data.forEach((item, index) => {
                if (item.createdAt == undefined) {
                  item.createdAt = "N/A";
                } else {
                  item.createdAt = new Date(item?.createdAt).toLocaleString(
                    "en-GB",
                    {
                      timeZone: "UTC",
                    }
                  );
                }
                let row = `<tr>
                    <th scope="row">${index}</th>
                    <td>${item.title}</td>
                    <td>${item.description}</td>
                    <td>${item.createdAt}</td>
                    <td class="d-flex flex-row align-items-center">${item.color}<div style="width:20px;height:20px;margin-left:5px;background-color:${item.color};"></div></td>
                    <td>
                      <div class="task-note">
                        <i
                          class="fas fa-pencil-alt fa-fw mr-4 update-type-button"
                          style="margin-right: 15px"
                          title="Edit Type" data-id="${item._id}"
                          data-bs-toggle="modal"
                          data-bs-target="#editTypeModal-${item._id}"
                        ></i>
                        <i class="fas fa-trash fa-fw delete-type-button" title="Delete Type" data-id="${item._id}"></i>
                      </div>
                    </td>
                  </tr>
                  `;
                $(".type-task-table tbody").append(row);
                $("body").append(`<div
                    class="modal fade"
                    id="editTypeModal-${item._id}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="editTypeModal"
                    aria-hidden="true"
                    data-id="${item._id}"
                  >
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit Type</h5>
                          <button
                            type="button"
                            class="btn-close"
                            aria-label="Close"
                            data-bs-dismiss="modal"
                          ></button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="type" class="col-form-label">Title (*):</label>
                              <input
                                type="text"
                                class="form-control"
                                id="typeTitle-${item._id}"
                                name="type" value="${item.title}"
                              />
                            </div>
                            <div class="form-group">
                              <label for="type" class="col-form-label"
                                >Description (*):</label
                              >
                              <input
                                type="text"
                                class="form-control"
                                id="typeDescription-${item._id}"
                                name="type"
                                value="${item.description}"
                              />
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label"
                                >Pick a Color:</label
                              >
                              <input
                                type="color"
                                class="form-control p-0"
                                id="typeColor-${item._id}"
                                value="${item.color}"
                              />
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                          >
                            Close
                          </button>
                          <button type="button" class="btn btn-primary editTypeButton">
                            Update Type
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>`);
              });

              //Add paging :) its hot 40oC
              $(".pagination").html("");
              $(".pagination")
                .append(` <li class="page-item" id="previous" data-id="-1">
                            <a class="page-link" href="#">Previous</a>
                          </li>
                          `);
              for (let i = 1; i <= data.totalPage; i++) {
                let isActive = "";
                if (i == data.currentPage) {
                  isActive = "active";
                }
                let pageLink = `<li class="page-item ${isActive}" data-id="${i}"><a class="page-link">${i}</a></li>`;
                $(".pagination").append(pageLink);
              }
              $(".pagination")
                .append(`<li class="page-item" id="next" data-id="+1">
                            <a class="page-link" href="#" >Next</a>
                          </li>`);
              $(".page-item").each((index, item) => {
                $(item).on("click", (e) => {
                  console.log(
                    $(e.target)[0].parentElement.getAttribute("data-id")
                  );
                  let temp = $(e.target)[0].parentElement.getAttribute(
                    "data-id"
                  );
                  switch (temp) {
                    case "-1":
                      loadType(parseInt(data.currentPage) - 1);
                      break;
                    case "+1":
                      if (data.currentPage < data.totalPage) {
                        loadType(parseInt(data.currentPage) + 1);
                      } else {
                        loadType(data.totalPage);
                      }
                      break;
                    default:
                      loadType(temp);
                      break;
                  }
                });
              });

              $(".delete-type-button").each((index, item) => {
                $(item).on("click", (e) => {
                  $(".delete-confirm").modal("show");
                  // console.log($(e.target).attr("data-id"));
                  $(".delete-confirm").attr(
                    "data-id",
                    $(e.target).attr("data-id")
                  );
                });
              });

              $(".editTypeButton")
                .off("click")
                .on("click", (e) => {
                  let modal = $(e.target).closest(".modal");
                  let typeId = modal.attr("data-id");
                  let typeTitle = modal.find(`#typeTitle-${typeId}`).val();
                  let typeDescription = modal
                    .find(`#typeDescription-${typeId}`)
                    .val();
                  let typeColor = modal.find(`#typeColor-${typeId}`).val();
                  console.log(typeId, typeTitle, typeDescription, typeColor);

                  $.ajax({
                    url: `/type/${typeId}`,
                    method: "patch",
                    dataType: "json",
                    headers: { Authorization: "Bearer " + getCookie("TOKEN") },
                    data: {
                      title: typeTitle,
                      description: typeDescription,
                      color: typeColor,
                    },
                    success: function (response) {
                      console.log(response);
                      if (!response.error) {
                        myNotify = new Notify({
                          status: "success",
                          title: "Success",
                          text: response.message,
                          effect: "slide",
                          type: 3,
                          autoclose: true,
                        });
                        loadType(data.currentPage);
                      } else {
                        myNotify = new Notify({
                          status: "error",
                          title: "Error",
                          text: response.message,
                          effect: "slide",
                          type: 3,
                          autoclose: true,
                        });
                      }
                    },
                    error: function (response) {
                      alert("server error");
                    },
                  });
                });
            } else {
              alert("Error");
            }
          },
          error: function (response) {
            alert("server error");
          },
        });
      };

      // Document Ready
      $(document).ready(function () {
        loadType();
        $(".delete-confirm #deleteType").on("click", (e) => {
          // console.log($(e.target).closest(".modal").attr("data-id"));
          let typeId = $(e.target).closest(".modal").attr("data-id");
          if (typeId && typeId != "") {
            $.ajax({
              url: `/type/${typeId}`,
              method: "delete",
              dataType: "json",
              headers: { Authorization: "Bearer " + getCookie("TOKEN") },
              success: function (response) {
                if (!response.error) {
                  myNotify = new Notify({
                    status: "success",
                    title: "Success",
                    text: response.message,
                    effect: "slide",
                    type: 3,
                    autoclose: true,
                  });
                  $(e.target).closest(".modal").attr("data-id", "");
                  $(".delete-confirm").modal("hide");
                  loadType();
                } else {
                  myNotify = new Notify({
                    status: "error",
                    title: "Error",
                    text: response.message,
                    effect: "slide",
                    type: 3,
                    autoclose: true,
                  });
                }
              },
              error: function (response) {
                alert("server error");
              },
            });
          }
        });
      });
    </script>
  </body>
</html>
