<%- include('./layout/header.ejs') %>
<html>
  <body>
    <div class="container" style="padding-top: 150px">
      <div class="container">
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Taking Note</h1>
          </div>
          <div
            class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12 d-flex justify-content-between mb-3"
          >
            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#addTypeModal"
            >
              New Type
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#addNoteModal"
            >
              New Note
            </button>
          </div>
          <div align="center" class="mb-5 button-filter">
            <button class="btn btn-default" data-filter="all">All</button>
            <button class="btn btn-default" data-filter="hdpe">
              HDPE Pipes
            </button>
            <button class="btn btn-default" data-filter="sprinkle">
              Sprinkle Pipes
            </button>
            <button class="btn btn-default" data-filter="spray">
              Spray Nozzle
            </button>
            <button class="btn btn-default" data-filter="irrigation">
              Irrigation Pipes
            </button>
          </div>
          <br />
          <div class="row note-list">
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
              data-bs-toggle="modal"
              data-bs-target="#editNoteModal"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="row note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
            <div
              class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe"
            >
              <div class="note-body p-4">
                <div class="note-title">
                  Adding Page to tcdcccccccccccccccchis app
                </div>
                <div class="note-content">
                  sdfsdfsdfsdfsdfsdf\ndfsdfsdfsdfsf Lorem ipsum dolor sit amet
                  consectetur, adipisicing elit. Commodi quasi adipisci eos
                  beatae omnis, odit vitae delectus perspiciatis unde,
                  reiciendis consequuntur, quaerat ea tenetur sunt culpa eaque
                  nulla dicta. Nesciunt aspernatur amet voluptatem eum nisi
                  porro. Enim voluptates officiis exercitationem cumque tempore
                  eius dicta praesentium est? Facilis, animi aut iusto sint
                  aliquam nihil officiis cupiditate voluptas perferendis minima
                  deleniti dignissimos dolorem minus nemo dicta neque at
                  mollitia deserunt maiores ad ut blanditiis quos consequuntur?
                  Ut, placeat porro ea beatae molestiae nihil minus animi
                  deleniti consequuntur eum, quidem quae quod repellat sit
                  neque? Illum eius nemo voluptatem accusantium suscipit veniam
                  quibusdam dicta eaque earum. Vitae sequi illum quia quasi?
                  Facilis earum optio eligendi nemo modi obcaecati nulla saepe
                  totam hic minima ipsa, sequi ex perspiciatis dolore quibusdam
                  tenetur explicabo similique natus quo asperiores inventore,
                  velit voluptate corrupti! Nihil, harum distinctio quidem atque
                  possimus perspiciatis nemo odio minima explicabo placeat dicta
                  tempora.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->

    <footer id="newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <div class="section-heading">
              <h4>
                Join our mailing list to receive the news &amp; latest trends
              </h4>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-3">
            <form id="search" action="#" method="GET">
              <div class="row">
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <input
                      type="address"
                      name="address"
                      class="email"
                      placeholder="Email Address..."
                      autocomplete="on"
                      required
                    />
                  </fieldset>
                </div>
                <div class="col-lg-6 col-sm-6">
                  <fieldset>
                    <button type="submit" class="main-button">
                      Subscribe Now <i class="fa fa-angle-right"></i>
                    </button>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Contact Us</h4>
              <p>Rio de Janeiro - RJ, 22795-008, Brazil</p>
              <p><a href="#">010-020-0340</a></p>
              <p><a href="#">info@company.co</a></p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Us</h4>
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Pricing</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>Useful Links</h4>
              <ul>
                <li><a href="#">Free Apps</a></li>
                <li><a href="#">App Engine</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">App News</a></li>
              </ul>
              <ul>
                <li><a href="#">App Dev Team</a></li>
                <li><a href="#">Digital Web</a></li>
                <li><a href="#">Normal Apps</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-widget">
              <h4>About Our Company</h4>
              <div class="logo">
                <img src="assets/images/white-logo.png" alt="" />
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore.
              </p>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="copyright-text">
              <p>
                Copyright © 2022 Chain App Dev Company. All Rights Reserved.
                <br />Design:
                <a
                  href="https://templatemo.com/"
                  target="_blank"
                  title="css templates"
                  >TemplateMo</a
                ><br />

                Distributed By:
                <a
                  href="https://themewagon.com/"
                  target="_blank"
                  title="Bootstrap Template World"
                  >ThemeWagon</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Add Note -->
    <div
      class="modal fade"
      id="addNoteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addNoteModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Note</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Title" class="col-form-label">Title:</label>
                <input
                  type="text"
                  class="form-control"
                  id="noteTitle"
                  name="noteTitle"
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Message:</label
                >
                <textarea
                  class="form-control"
                  id="noteContent"
                  name="noteContent"
                ></textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Type:</label>
                <select
                  class="form-control"
                  id="nodeType"
                  aria-label="Default select example"
                >
                  <option selected value="0">Open this select menu</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="createNoteBtn" class="btn btn-primary">
              Create Note
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Type -->
    <div
      class="modal fade"
      id="addTypeModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addTypeModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Type</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="type" class="col-form-label">Title (*):</label>
                <input
                  type="text"
                  class="form-control"
                  id="typeTitle"
                  name="type"
                />
              </div>
              <div class="form-group">
                <label for="type" class="col-form-label"
                  >Description (*):</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="typeDescription"
                  name="type"
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Pick a Color:</label
                >
                <input
                  type="color"
                  class="form-control p-0"
                  id="typeColor"
                  value="#ffffff"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" id="createTypeBtn" class="btn btn-primary">
              Create New Type
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/animation.js"></script>
    <script src="assets/js/imagesloaded.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script>
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }
      $("textarea")
        .each(function () {
          this.setAttribute(
            "style",
            "height:" + this.scrollHeight + "px;overflow-y:hidden;"
          );
        })
        .on("input", function () {
          this.style.height = 0;
          this.style.height = this.scrollHeight + "px";
        });
      // Handler Background
      const loadColor = function () {
        document.querySelectorAll(".note-ribbon").forEach((item) => {
          let rgb = item.style.backgroundColor;
          var colors = rgb.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
          console.log(colors[1], colors[2], colors[3]);

          let ir = Math.floor((255 - colors[1]) * 1);
          let ig = Math.floor((255 - colors[2]) * 1);
          let ib = Math.floor((255 - colors[3]) * 1);

          item.nextElementSibling.style.color = `rgb(${ir},${ig},${ib})`;
        });
      };
      const loadType = async function () {
        $(".button-filter").html("");
        $.ajax({
          url: "/type",
          method: "get",
          dataType: "json",
          headers: { Authorization: "Bearer " + getCookie("TOKEN") },
          success: function (response) {
            if (!response.error) {
              // console.log(response.data);
              $(".button-filter").append(
                `<button class="btn btn-default" data-filter="all">All</button>`
              );
              let data = response.data;
              data.forEach((item) => {
                let button = `<button class="btn btn-default border border-dark" title="${item.description}" style="background-color:${item.color};" data-filter="all">${item.title}</button>`;
                $(".button-filter").append(button);
              });
              $("#nodeType").find("option").not(":first").remove();
              data.forEach((item) => {
                let option = `<option value="${item._id}">${item.title}</option>`;
                $("#nodeType").append(option);
              });
            } else {
              alert("Error");
            }
          },
          error: function (response) {
            alert("server error");
          },
        });
      };
      const loadNote = async function () {
        $(".note-list").html("");
        $.ajax({
          url: "/note",
          method: "get",
          dataType: "json",
          headers: { Authorization: "Bearer " + getCookie("TOKEN") },
          success: function (response) {
            if (!response.error) {
              loadColor();
              console.log(response.data);
              let data = response.data;
              if (data.length > 0) {
                data.forEach((item) => {
                  console.log(item);
                  let card = `<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe" data-bs-toggle='modal' data-bs-target='#editNoteModal-${item._id}' data-type="${item?.type?._id}" >
              <div class="note-body p-4">
                <div class="note-title">
                  ${item.title}
                </div>
                <span class="note-ribbon" style="background-color:${item?.type?.color}"></span>
                <div class="note-content">
                  ${item.content}
                </div>
              </div>
            </div>
            <!-- Edit Note -->
      <div
        class="modal fade"
        id="editNoteModal-${item._id}"
        data-id="${item._id}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="editNoteModal"
        aria-hidden="true"
      >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Note</h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Close"
              data-bs-dismiss="modal"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="Title" class="col-form-label">Title:</label>
                <input
                  type="text"
                  class="form-control"
                  id="noteTitle"
                  name="noteTitle"
                  value="${item.title}"
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Message:</label
                >
                <textarea
                  class="form-control"
                  id="noteContent"
                  name="noteContent"
                >${item.content}</textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Type:</label>
                <select
                  class="form-control nodeType-edit"
                  id="nodeType-edit"
                  aria-label="Default select example"
                >
                  <option selected value="0">Open this select menu</option>
                </select>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-danger align-left deleteNoteBtn">
              Delete Note
            </button>
            <div class="footer-end">
              <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary updateNoteBtn">
              Update Note
            </button>
              </div>
          </div>
        </div>
      </div>
      </div>
      <!-- End edit Note -->

            `;
                  $(".note-list").append(card);
                });
                $(".gallery_product").each((index, item) => {
                  let card = $(item);
                  item.addEventListener("click", async function () {
                    let select = $($(item).attr("data-bs-target")).find(
                      "select"
                    );
                    $.ajax({
                      url: "/type",
                      method: "get",
                      dataType: "json",
                      headers: {
                        Authorization: "Bearer " + getCookie("TOKEN"),
                      },
                    }).then((response) => {
                      let data = response.data;
                      select.find("option").not(":first").remove();
                      select.find("option:selected").remove();
                      data.forEach((item) => {
                        let option = "";
                        if (item._id === card.attr("data-type")) {
                          option = `<option selected value="${item._id}">${item.title}</option>`;
                        } else {
                          option = `<option value="${item._id}">${item.title}</option>`;
                        }
                        select.append(option);
                      });
                    });
                  });
                });

                // Update note Button
                $(".updateNoteBtn").each((index, item) => {
                  $(item).on("click", function () {
                    let modal = $(item).closest(".modal");
                    let noteTitle = modal.find("#noteTitle").val();
                    let noteContent = modal.find("#noteContent").val();
                    // let image = $("#typeColor").val()
                    let noteType = modal.find("#nodeType-edit").val();
                    console.log(modal, noteTitle, noteContent, noteType);
                    console.log(`/note/${modal.attr("data-id")}`);
                    $.ajax({
                      url: `/note/${modal.attr("data-id")}`,
                      method: "patch",
                      dataType: "json",
                      headers: {
                        Authorization: "Bearer " + getCookie("TOKEN"),
                      },
                      data: {
                        title: noteTitle,
                        content: noteContent,
                        image: "",
                        noteType: noteType,
                      },
                      success: function (response) {
                        console.log(response);
                        if (!response.error) {
                          myNotify = new Notify({
                            status: "success",
                            title: "Success",
                            text: response.message,
                            effect: "slide",
                            type: 3,
                            autoclose: true,
                          });
                          loadNote();
                          modal.modal("hide");
                          $("body").removeClass("modal-open");
                          $(".modal-backdrop").remove();

                          //load Color
                          loadColor();
                        } else {
                          myNotify = new Notify({
                            status: "error",
                            title: "Error",
                            text: response.message,
                            effect: "slide",
                            type: 3,
                            autoclose: true,
                          });
                        }
                      },
                      error: function (response) {
                        alert("server error");
                      },
                    });
                  });
                });

                // Delete note
                // Update note Button
                $(".deleteNoteBtn").each((index, item) => {
                  $(item).on("click", function () {
                    let modal = $(item).closest(".modal");
                    $.ajax({
                      url: `/note/${modal.attr("data-id")}`,
                      method: "delete",
                      dataType: "json",
                      headers: {
                        Authorization: "Bearer " + getCookie("TOKEN"),
                      },
                      success: function (response) {
                        console.log(response);
                        if (!response.error) {
                          myNotify = new Notify({
                            status: "success",
                            title: "Success",
                            text: response.message,
                            effect: "slide",
                            type: 3,
                            autoclose: true,
                          });
                          loadNote();
                          modal.modal("hide");
                          $("body").removeClass("modal-open");
                          $(".modal-backdrop").remove();

                          //load Color
                          loadColor();
                        } else {
                          myNotify = new Notify({
                            status: "error",
                            title: "Error",
                            text: response.message,
                            effect: "slide",
                            type: 3,
                            autoclose: true,
                          });
                        }
                      },
                      error: function (response) {
                        alert("server error");
                      },
                    });
                  });
                });
              } else {
                let emptyNote = document.createElement("h3");
                emptyNote.innerText =
                  "You don't have any Notes! Let's create Note!";
                emptyNote.classList.add("text-center");
                $(".note-list").append(emptyNote);
              }
            } else {
              alert("Error");
            }
          },
          error: function (response) {
            alert("server error");
          },
        });
      };

      // Document Ready
      $(document).ready(function () {
        loadType();
        loadNote();
        $("#createTypeBtn").click((e) => {
          let typeTitle = $("#typeTitle").val();
          let typeDescription = $("#typeDescription").val();
          let typeColor = $("#typeColor").val();
          $.ajax({
            url: "/type/add-new",
            method: "post",
            dataType: "json",
            headers: { Authorization: "Bearer " + getCookie("TOKEN") },
            data: {
              title: typeTitle,
              description: typeDescription,
              color: typeColor,
            },
            success: function (response) {
              console.log(response);
              if (!response.error) {
                myNotify = new Notify({
                  status: "success",
                  title: "Success",
                  text: response.message,
                  effect: "slide",
                  type: 3,
                  autoclose: true,
                });
                $("#addTypeModal form")[0].reset();
                loadType();
              } else {
                myNotify = new Notify({
                  status: "error",
                  title: "Error",
                  text: response.message,
                  effect: "slide",
                  type: 3,
                  autoclose: true,
                });
              }
            },
            error: function (response) {
              alert("server error");
            },
          });
        });

        $("#createNoteBtn").click((e) => {
          let noteTitle = $("#addNoteModal #noteTitle").val();
          let noteContent = $("#addNoteModal #noteContent").val();
          // let image = $("#typeColor").val()
          let noteType = $("#addNoteModal #nodeType").val();
          $.ajax({
            url: "/note/add-new",
            method: "post",
            dataType: "json",
            headers: { Authorization: "Bearer " + getCookie("TOKEN") },
            data: {
              title: noteTitle,
              content: noteContent,
              image: "",
              noteType: noteType,
            },
            success: function (response) {
              console.log(response);
              if (!response.error) {
                myNotify = new Notify({
                  status: "success",
                  title: "Success",
                  text: response.message,
                  effect: "slide",
                  type: 3,
                  autoclose: true,
                });
                $("#addNoteModal form")[0].reset();
                loadNote();
              } else {
                myNotify = new Notify({
                  status: "error",
                  title: "Error",
                  text: response.message,
                  effect: "slide",
                  type: 3,
                  autoclose: true,
                });
              }
            },
            error: function (response) {
              alert("server error");
            },
          });
        });
      });
    </script>
  </body>
</html>
