<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
<script>
  $("#joinRoomButton").on("click", function (e) {
    e.preventDefault();
    let roomId = $("#roomId").val();
    if (roomId != "" && roomId != undefined) {
      $.ajax({
        url: "/room-check/" + $("#roomId").val(),
        method: "get",
        dataType: "json",
        // headers: { Authorization: "Bearer " + getCookie("TOKEN") },
        success: function (response) {
          if (!response.error) {
            myNotify = new Notify({
              status: "success",
              title: "Success",
              text: response.message,
              effect: "slide",
              type: 3,
              autoclose: true,
            });
            $("#joinRoomButton").html('<div class="spinner-border spinner-border-sm text-info" role="status"></div>');
            $("#joinRoomButton").prop( "disabled", true );
            $("body").css("cursor", "not-allowed");
            $("#createRoomButton").html('<div class="spinner-border spinner-border-sm text-info" role="status"></div>');
            $("#createRoomButton").prop( "disabled", true );
            $("body").css("cursor", "not-allowed");
            setTimeout(() => {
              window.location.href = decodeURI(response.data.toString());
              $("#joinRoomButton").html("Join Room")
              $("#joinRoomButton").prop( "disabled", false );
              $("body").css("cursor", "default");
              $("#createRoomButton").html("Create Room")
              $("#createRoomButton").prop( "disabled", false );
              $("body").css("cursor", "default");
            }, 3000);
          } else {
            myNotify = new Notify({
              status: "error",
              title: "Error",
              text: response.message,
              effect: "slide",
              type: 3,
              autoclose: true,
            });
          }
        },
        error: function (err) {},
      });
    }
  });
  $("#createRoomButton").on("click", function (e) {
    e.preventDefault();
    let roomName = $("#roomName").val();
    if (roomName != "" && roomName != undefined) {
      $.ajax({
        url: "/room/add-room",
        method: "post",
        dataType: "json",
        data: { roomName: roomName },
        // headers: { Authorization: "Bearer " + getCookie("TOKEN") },
        success: function (response) {
          if (!response.error) {
            myNotify = new Notify({
              status: "success",
              title: "Success",
              text: response.message,
              effect: "slide",
              type: 3,
              autoclose: true,
            });
            $("#joinRoomButton").html('<div class="spinner-border spinner-border-sm text-info" role="status"></div>');
            $("#joinRoomButton").prop( "disabled", true );
            $("body").css("cursor", "not-allowed");
            $("#createRoomButton").html('<div class="spinner-border spinner-border-sm text-info" role="status"></div>');
            $("#createRoomButton").prop( "disabled", true );
            $("body").css("cursor", "not-allowed");
            setTimeout(() => {
              window.location.href = decodeURI(response.redirectUrl.toString());
              $("#joinRoomButton").html("Join Room")
              $("#joinRoomButton").prop( "disabled", false );
              $("body").css("cursor", "default");
              $("#createRoomButton").html("Create Room")
              $("#createRoomButton").prop( "disabled", false );
              $("body").css("cursor", "default");
            }, 3000);
          } else {
            myNotify = new Notify({
              status: "error",
              title: "Error",
              text: response.message,
              effect: "slide",
              type: 3,
              autoclose: true,
            });
          }
        },
        error: function (err) {},
      });
    }
  });
</script>
